In [2]:
import pandas as pd

## 파일 저장

### 매직명령어 활용

* `%%writefile (파일명)`을 이용하면 파일을 저장할 수 있다.
* 이러한 명령어를 매직 명령어라고 하며, ipython과 주피터 노트북에서 실행할 수 있는 방법이다.
* **반드시 파이썬 shell 첫 줄에 적어야 한다. 그렇지 않으면 실행되지 않는다.**
* 일반적인 파이썬에서는 지원하지 않음.

In [3]:
# 파일 위치는 달라질 수 있음.
file = "../../Dataset/sea_rain2.csv"

In [4]:
%%writefile "{file}"
연도,동해,남해,서해,전체
2016,17.3,17.4,18.5,20.8,19.2
2017,17.7,16.5,17.8,21.9,20.7
2018,19.2,18.7,18.4,16.1,18.5
2019,18.4,18.9,19.2,12.8,20.1
2020,19.6,15.6,20.7,22.7,25.9

Overwriting ../../_Dataset/sea_rain2.csv

### 일반적인 저장방식

In [5]:
# 파일 위치는 달라질 수 있음.
file = "../../Dataset/sea_rain4.csv"

In [6]:
data = {
    '연도': [2020, 2021, 2022, 2023, 2024],
    '동해': [17.3, 17.7, 19.2, 18.4, 19.6],
    '남해': [17.4, 16.5, 18.7, 18.9, 15.6],
    '서해': [18.5, 17.8, 18.4, 19.2, 20.7],
    '전체': [20.8, 21.9, 16.1, 12.8, 22.7]
}
df = pd.DataFrame(data)
df.set_index('연도', inplace=True)
df.to_csv(f"{file}")

## 파일 읽기

In [15]:
pd.read_csv("../../Dataset/sea_rain4.csv", sep=",", index_col="연도")

        동해    남해    서해    전체
연도
2020  17.3  17.4  18.5  20.8
2021  17.7  16.5  17.8  21.9
2022  19.2  18.7  18.4  16.1
2023  18.4  18.9  19.2  12.8
2024  19.6  15.6  20.7  22.7

## 파일 수정 후 저장

In [17]:
# index 이름 넣기
sold = pd.DataFrame({'판매가격': [2000, 3000, 5000, 10000],
                     '판매량': [32, 53, 40, 25]},
                    index = ['P' + str(i) for i in range(1001, 1005)])
sold.index.name = '제품번호'
sold

        판매가격  판매량
제품번호
P1001   2000   32
P1002   3000   53
P1003   5000   40
P1004  10000   25

In [29]:
# 파일 위치 지정하기
file = "../../Dataset/test.csv"
file2 = "../../Dataset/sold.csv"

### 일반적인 저장방법

In [30]:
sold.to_csv(file, sep=" ", encoding="utf-8")

## 쉘 명령어 이용하기
* `!`를 앞에 붙이면 파이쎤에서 쉘 명령어로 인식한다.
* 또는 `os.system(f"명령어")`를 써도 된다.

운영체제별로 새로운 파일을 만드는 명령어는 다음과 같다.
* Windows : `!type`
* Unix / Linux : `!cat`
* (맥은 Darwin이라고 뜨며, 이는 유닉스의 한 종류이다.)

In [36]:
import os
import platform

current_os = platform.system()
print(current_os)

Darwin

In [ ]:
if current_os == "Windows":
    os.system(f"type {file2}")
else:
    os.system(f"cat {file2}")

In [ ]:
# 윈도우의 경우
!type {file}

In [ ]:
# 맥 / 유닉스 / 리눅스의 경우
!cat {file}