In [1]:
import pandas as pd
import numpy as np

In [9]:
year = [str(i) for i in range(2012, 2017)] 
df3 = pd.DataFrame({'봄': [256.5, 264.3, 215.9, 223.2, 312.8],
                  '여름': [770.6, 567.5, 599.8, 387.1, 446.2],
                  '가을': [363.5, 231.2, 293.1, 247.7, 381.6],
                  '겨울': [139.3, 59.9, 76.9, 109.1, 108.1]},
                  index = year)
df3

          봄     여름     가을     겨울
2012  256.5  770.6  363.5  139.3
2013  264.3  567.5  231.2   59.9
2014  215.9  599.8  293.1   76.9
2015  223.2  387.1  247.7  109.1
2016  312.8  446.2  381.6  108.1

In [12]:
print(f"{df3.mean(axis=0)}")
print(f"\n{df3.mean(axis=1)}")
print(f"\n{df3.describe()}")

봄     254.54
여름    554.24
가을    303.42
겨울     98.66
dtype: float64

2012    382.475
2013    280.725
2014    296.425
2015    241.775
2016    312.175
dtype: float64

                봄          여름          가을          겨울
count    5.000000    5.000000    5.000000    5.000000
mean   254.540000  554.240000  303.420000   98.660000
std     38.628267  148.888895   67.358496   30.925523
min    215.900000  387.100000  231.200000   59.900000
25%    223.200000  446.200000  247.700000   76.900000
50%    256.500000  567.500000  293.100000  108.100000
75%    264.300000  599.800000  363.500000  109.100000
max    312.800000  770.600000  381.600000  139.300000